@import url('fonts.css');
@import url('reset.css');

.wrapper {
    min-height: 100%;
    overflow: clip;
}
.header {
    min-height: 100px;
    background-color: rgb(30, 136, 101);
    min-width: 100%;
}
.header--fix{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    padding-top: 25px;
}
.header__container {
    min-width: 1000px;
    margin: 0 auto;
}
.menu {
    text-align: center;
}
.menu__item {
    display: inline-block;
    margin-right: 65px;
    text-transform: uppercase;
    position: relative;

}
.menu__link {
    background-color: rgb(110, 110, 238);
    width: 120px;
    height: 40px;
    padding-top: 10px;
    color: #ffffff;
}
.menu li:last-child{
    margin-right: 0px
}
.menu__item:hover .menu__link{
    background-color: rgb(0, 26, 255);
    border-radius: 6px;
}
.menu__link:hover .menu__item{
    background-color: rgb(0, 26, 255);
    border-radius: 6px;
}
.sub-menu {
    position: absolute;
    top: 100%;
    padding-top: 5px;
    left: 0;
    width: 150px;
    visibility: hidden;
}
.sub-menu__item {
    background-color:rgb(110, 110, 238);
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 14px;
    position: relative;
}
.sub-menu__link{
    color: #ffffff;
}

.sub-menu__link:hover{
    color:  rgb(25, 0, 255);
}

.menu__item:hover .sub-menu{
    visibility: visible;
}
.deep-menu {
    position: absolute;
    top: 0;
    padding-left: 0;
    left: 100%;
    width: 150px;
    visibility: hidden;
}
.deep-menu__item {
    background-color:rgb(110, 110, 238);
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 14px;
}
.deep-menu__link {
    color: #ffffff;
}
.deep-menu__link:hover{
    color:  rgb(25, 0, 255);
}
.sub-menu__item:hover .deep-menu{
    visibility: visible;
}

.page__container {
    max-width: 1320px;
    margin: 0 auto;
}
.experts {
   padding-top: 150px;
}
.experts__card:nth-child(3){
    margin-right: 0px;
}
.experts__card:nth-child(6){
    margin-right: 0px;
}
.experts__card {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;

}
.experts__image{
    max-width: 383px;
}

.experts__image img{
    max-width: 100%;
    font-size: 0;
}
.experts__card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #6B77E5B2;
}
.experts__card:hover::before{
    opacity: 0.7;
}

.experts__socials {
    position: absolute;
    top: 240px;
    left: 90px;
    visibility: hidden;
}

.socials-item__link {
    max-width: 45px;
    max-height: 45px;
    margin-left: 12px;
}

.experts__body {
    position: absolute;
    width: 348px;
    height: 114px;
    background-color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: 396px 23px 22px 22px;
}
.experts__name {
    padding: 24px 50px 0px 50px;
    color: #37393F;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}
.experts__text {
    color: #7D7D7D;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 135.187%;
}

.experts__card:hover .experts__socials{
    visibility: visible;
}
.experts__name:hover{
    text-decoration: underline;
}

.practice {
    font-family: Inter, sans-serif;
    font-size: 19px;
    position: relative;
    z-index: 60;
    margin-bottom: 40px;
}
.practice__container{
    min-width: 100%;

}
.practice__sticky-block {
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 120px;
    max-width: 1000px;
    background-color: blueviolet;
    min-height: 40px;
    padding-top: 10px;
    border-radius: 6px;
    color: #fff;
}
.practice__content {
    background-color: rgb(31, 107, 107);
    line-height: 30px;
}
.footer{
    min-height: 35px;
    background-color: rgb(30, 136, 101);
    text-align: center;
}
.footer__text{
    color: #fff;
    padding-top: 10px;
}