@import url('reset.css');



.header__title {
    color: #b30707;
}

.header__list {
    color: rgb(4, 92, 92);
}

.main__title {
    color: blue;
}
.main__subtitle {
    color: #e782ac;
}
span{
    color: rgb(136, 16, 136);
}
.main__content-title {
    color: #d87d16;
}

.main__content-text {
    color: #264b08;
}

.footer__link {
    color: #d43636;
}
.link__item {
    color: rgb(136, 16, 136);
}