@import url('fonts.css');
@import url('reset.css');


.body{
    font-family: Causten, sans-serif;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    min-height: 111px;
    padding: 34px 15px 31px 15px;
    background-color: #FFF;
}
.header--fix {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 55;
}
.header__container {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.header__label {
    flex: 0 0 91px ;
    margin-right: 160px;
}
.header__search {
    display: flex;
    flex: 0 1 184px;
    min-height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F6F6F6;
    gap: 12px;
    margin-right: 200px;
}
.search {
}

.search__text {
    color: #807D7E;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;

}
.header__lang {
    position: relative;
    height: 23px;
    display: flex;
    flex: 0 0 206px;
    gap: 19px;
    align-items: center;
}
.header__lang-item {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.lang__menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 206px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
    padding-bottom: 7px;

}
.header__lang:hover{
    text-decoration: underline;
}
.header__lang:hover .lang__menu{
    visibility: visible;
    opacity: 1;
}
.lang__item {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.lang__item:hover{
    color: #8A33FD ;
}

.header__log {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: #8A33FD;
    padding: 12px 48px;
    transition: all 0.4s ease;
}
.header__log:hover{
    background: #4a1491;
}
.header__sign {
    color: #8A33FD;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid #3C4242;
    padding: 12px 48px;
    transition: all 0.4s ease;
}
.header__sign:hover{
    color: #FFF;
    background-color: #8A33FD;;
}

.page {
    flex-grow: 1;
}
.product {
    padding-top: 150px;
}
.product:not(:last-child){
 margin-bottom: 60px;
}
.product__container {
    max-width: 1250px;
    margin: 0 auto;
}
.product__title {
    color: #3C4242;
    font-family: CoreSansC, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px; 
    letter-spacing: 0.68px;
    padding-left: 20px;
    background: url(../img/title.png) left no-repeat;
}
.product__title:not(:last-child){
    margin-bottom: 70px;
}

.product__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.product__column {
    flex: 0 0 25%;
    padding: 0 25px;
    margin-bottom: 50px;
}
.product__column:nth-last-child(-n+4){
    margin-bottom: 0px;
}


.product__card {
    display: flex;
    flex-direction: column;
}
.product__image {
}
.product__image img{
    max-width: 100%;
    transition: all 0.4s ease;
}
.product__image img:hover{
    transform: scale(1.04);
}
.product__image:not(:last-child){
    margin-bottom: 15px;
}
.product__body {
    display: flex;
    flex-grow: 1;
}
.body-product {
}
.body-product__description {
    flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.body-product__link-title {
    color: #2A2F2F;
    font-family: Causten;
    font-size: 17.875px;
    font-weight: 700;
    line-height: 27.93px; 
    letter-spacing: -0.715px;
}

.body-product__link-title:hover{
    text-decoration: underline;
}
.body-product__text {
    color: #7F7F7F;
    font-size: 13.407px;
    font-weight: 500;
    line-height: 27.93px; 
    letter-spacing: -0.536px;
}
.body-product__arrow {
    align-self: flex-start;
    min-height: 40px;
    flex: 0 0 18px;
    background: url(../img/Arrow-product.svg) center no-repeat;
    transition: all 0.4s ease;
}
.body-product__arrow:hover{
    transform: scale(1.6);
}

.wishlist {
}
.wishlist:not(:last-child){
    margin-bottom: 70px;
}
.wishlist__container {
    max-width: 933px;
    margin: 0 auto;
}
.wishlist__title {
    color: #3C4242;
    font-family: CoreSansC, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px; 
    letter-spacing: 0.56px;
}
.wishlist__title:not(:last-child){
    margin-bottom: 50px;
}

.wishlist__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.wishlist__block {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.block:not(:last-child) {
    margin-bottom: 60px;
}
.block__product {
    display: flex;
    gap: 36px;
}
.block__cross {
    background: url(../img/cross.svg) left no-repeat;
    flex: 0 0 22px;
    min-height: 30px;

}

.block__image {
    flex: 0 1 auto;
}
.block__image img {
    max-width: 100%;
}
.block__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    row-gap: 5px;
}
.block__item {
    color: #3C4242;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.44px;
    text-transform: capitalize;
}
.block__item span{
    color: #807D7E;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;
}
.block__action {
    display: flex;
    gap: 50px;
    align-items: center;
}

.action-block__price {
    color: #807D7E;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.44px;
}
.action-block__btn {
    width: 143px;
    height: 50px;
    border-radius: 8px;
    background: #8A33FD;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 14px 28px;
    transition: all 0.4s ease;
}
.action-block__btn:hover{
    background: #461a80;
}

.order {
    margin-bottom: 40px;

}
.order__container {
    max-width: 895px;
    margin: 0 auto;
}
.order__document {
    width: 895px;
    height: 135px;
    border-radius: 8px;
    background: #F6F6F6;

}
.document span{
    color: #BEBCBD;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.document__title {
    color: #3C4242;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 28px 47px 0px 47px;
    margin-bottom: 14px;
}
.document__text {
    display: flex;
    justify-content: space-between;

}
.document__logistic {
    color: #807D7E;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}
.document__date {
padding-left: 20px;
}
.document:not(:last-child){
    margin-bottom: 30px;
}
.document__delivery {
    padding-left: 49px;
}
.document__process {
    color: #807D7E;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.document__status {
  
}
.document__payment {
  padding-right: 50px;
}

.order__product {
    display: flex;
    justify-content: space-between;
}
.order__product:not(:last-child){
    margin-bottom: 60px;
}

.order__product span{
color: #BEBCBD;
font-size: 14px;
font-weight: 600;
line-height: normal;
}

.order__block{
    display: flex;
    gap: 25px;
}
.order__image{
    flex: 0 0 96px;
    border-radius: 4px;
    overflow: hidden;
}
.order__image img {
    max-width: 100%;
}
.order__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order__name {
    color: #3C4242;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}
.order__item {
    color: #3C4242;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.order__price {
    color: #807D7E;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.order__btn {
    align-self: center;
    width: 144px;
    height: 50px;
    border-radius: 8px;
    background: #8A33FD;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    padding: 14px 28px;
    transition: all 0.4s ease;
}
.order__btn:hover{
    background: #461a80;
}

.footer{
  height: 50px;
  background-color: #a69cb4;
}